.footer{
  padding: 2rem 0.125rem;
  margin:0 auto;
  max-width:62.5rem ;
}
.footer ul{
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-template-rows:auto auto auto auto ;
  list-style: none;
  gap: 1rem;
  margin-bottom: 1.7rem;
}
.footer ul li{
  font-weight: 200;
  font-size: small;  
}

.footer-icons{
 display: flex;
 margin:2.5rem 0;
 gap: 1.1rem;
}
.footer-icons img{
  width: 1.9rem;
  cursor: pointer;
}
.copyright-text{
  color: gray;
  font-size: 0.92rem;
}
