
.Player img{
  width: 3rem;
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  cursor: pointer;
}
iframe{
  display: inline-block;
  height: 30rem;
  width: 67rem;
  border: none;
  margin-top: 2rem ;
  margin-left: 8rem;
  border-radius: 0.7rem;
}

.player-info{
  padding-left: 8rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}
 

.player-info p{
   width: 100%;
   max-width: 15rem;
   
}
/* .player-info:nth-last-child{
  align-self:flex-end;

} */

